@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@media (min-width: 420px) and (max-width: 639px) {
  .custom-min-2 {
    width: 48% !important;
  }
}

@media (max-width: 500px) {
  .custom-min-1 {
    width: 48% !important;
  }
}

html {
  scroll-padding-top: 103px; /* adjust this to your header height or desired offset */
  scroll-behavior: smooth; /* optional for smooth scrolling */
}

li:hover {
  font-weight: 900;
  text-decoration: underline;
}

li {
  padding: 4px 0 4px 4px;
}
